/* all my element adjuster */
.box {
  font-family: 'Copperplate';
  background-color: #cfcfcf;
  color: #000000;
  text-align: center;
  font-size: 30px;
  padding: 10px;
  height: 30px;
}
.center {
  text-align: center;
  list-style-position: inside;
}
.left {
  text-align: left;
}
.round {
  border-radius: 10px;
}

/* my body color */
body {
  margin: 0;
  background-color: #ffffff;
}
/* the tags within the body colors and fonts */
html, h1, h2, p {
  font-family: 'Copperplate';
  color: black;
}

header {
  color: grey;
  text-align: center;
}

header h1 {
  text-align: center;
  font-size: 600px;
  margin: 0;
  font-family: 'Copperplate';
}
header > h1 {
  color: #616161;
}

main > h2 {
  color: black;
}

footer > p {
  text-align: center;
  font-family: 'Copperplate';
}

main > h1 {
  margin: 0;
  padding: 10px;
}

/* The box is set to auto to horizontally center the element within the container */
main {
  border: 3px solid #6b6b6b;
  padding: 10px;
  background-color: #bfbfbf;
  width: 600px;
  margin: auto;
}
main p {
  color: #493736;
}
footer p {
  color: #616161;
  text-align: center;
}
