/* all my element adjuster */
.bgimage {
  height:100vh;
  background: url('images/me.jpg');
  background-size:cover;
  position:relative;

}
.navbarScroll {
  font-size: 1.2rem;
  background: rgba(57, 58, 57, 0.342);
}

#about {
  background-color:rgba(61, 61, 61, 0.158);
}

#portfolio {
  background-color:rgba(62, 102, 92, 0.301);
}

/* text css above image*/
.title {
  font-size: 4.5rem;
}
.desc {
  font-size: 2rem;
}
.text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background: rgba(57, 58, 57, 0.342);
}

.imageAboutPage {
  width: 100%;
}

/* social media icons styling */
.social-icons {
  font-size: 36px;
  cursor: pointer;
}
.fa-linkedin:hover, .fa-github:hover {
  color: #008000;
}
.fab {
  color: #000000;
}
.site-footer {
  background-color: #838383;
	text-align: center;
	margin: 10px 0;
	padding: 10px 0;
}

#social-wrapper {
	text-align: center;
}

/*Social Media Icons*/
.social-wrapper {
	text-align: center;
}

.social-wrapper ul li {
	display: inline;
	margin: 0 5px;
}

.linkedin-icon,
.github-icon{
	margin-top: .625em;
	width: 40px;
	height: 40px;
	opacity: .6;
	filter: alpha(opacity=60); /* For IE8 and earlier */
  border-radius: 25px;
}

.linkedin-icon:hover,
.github-icon:hover {
	opacity: 1.0;
	filter: alpha(opacity=100); /* For IE8 and earlier */
}

.footer-nav p {
	text-align: center;
}

/* spacing on all sections */
#about, #services, #portfolio, #contact {
  padding-bottom: 1.8rem;
}
